 <section id="book" class="contact">
 <h1 class="section-header">About</h1>
</div>
<br>
<hr class="center">
<br>
<section class="about">
  <div class="about-img">
 <%= image_tag("shelface.jpeg", class: "about-face") %>
  </div>
  <div class="about-txt">
    101 Surfing is the current Durban Surf Brand coming from old roots, with new ideas. All Local Trade and proudly South African. South Beach Surfing made easy <br><br> Sheldon will write here about himself soon
  </div>
</section>
</section>

