<div class="pay">
  <div class="shop-head">
    <h1 class="section-header">Payment</h1>
  </div>
  <br>
  <hr class="center">
  <br>
  <div class="pay-cards">
    <div class="pay-card">
      <div class="home-card-inner p-5">
        <div class="block-heading">
          <h2 class="card-head d-flex">Bank details</h2>
        </div>
        <br>
        <hr>
        <br>
      </div>
      <div class="bank-details mx-5 mt-0">
        <p>Account Number</p>
        <p>Holder Name</p>
        <p>Account Type</p>
        <p>Bank</p>
        <br>
        <br>
        <br>
        <p>Send proof of payment to the following email address:</p>
        <br>
        <p>Example@iclooud.com</p>
      </div>
    </div>
    <div class="pay-card">
      <div class="home-card-inner p-5">
        <div class="block-heading">
          <h2 class="card-head d-flex">Transfer Details</h2>
        </div>
        <br>
        <hr>
        <br>
        <form>
          <div class="inputGroup">
            <input type="text" required="" autocomplete="off">
            <label for="name">First Name</label>
          </div>
          <div class="inputGroup">
            <input type="text" required="" autocomplete="off">
            <label for="name">Last Name</label>
          </div>
          <div class="inputGroup">
            <input type="email" required="" autocomplete="off">
            <label for="name">Email</label>
          </div>
          <div class="radio-input">
            <input value="value-1" name="value-radio" id="value-1" type="radio" checked="checked"/>
            <label for="value-1">
              <div class="pay-text">
                <span class="pay-circle"></span>
                Collection
              </div>
              <div class="pay-price">
                <span class="pay-price-display">R0</span>
                <span class="pay-small">Free</span>
              </div>
            </label>
            <input value="value-2" name="value-radio" id="value-2" type="radio" />
            <label for="value-2">
              <div class="pay-text">
                <span class="pay-circle"></span>
                Delivery
              </div>
              <div class="pay-price">
                <span class="pay-price-display">R50</span>
                <span class="pay-small">Courier</span>
              </div>
            </label>
          </div>
          <p class="mt-4">If delivery: <span class="delivery-display">R50</span></p>
          <div class="inputGroup">
            <input type="text" autocomplete="off">
            <label for="name">Full Address</label>
          </div>
          <div class="inputGroup">
            <input type="text" autocomplete="off">
            <label for="name">City</label>
          </div>
          <div class="inputGroup">
            <input type="text" autocomplete="off">
            <label for="name">Postal code</label>
          </div>
          <a href="mailto:EMAILADDRESS">
            <button class="submit-btn">
              Submit
            </button>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
