<div class="shop-head">
  <h1 class="section-header">Collection</h1>
</div>
<br>
<hr class="center">
<br>
<br>
<div class="cards">
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img class="img-card" src="/assets/shirt2.png" alt="item">
    </div>
    <div class="card-text">
      <h4>Item one</h4>
    </div>
    <div class="card-price">
      <h5 class="card-price-text">R 350</h5>
    </div>
    <div class="card-button">
      <a href="/pages/buy">
        <button>
          VIEW
        </button>
      </a>
    </div>
  </div>
</div>