<nav id="navbar">
  <div class="container">
    <ul>
      <li>
        <%= link_to "HOME", root_path%>
      </li>
      <li>
        <%= link_to "ABOUT", "/main/about" %>
      </li>
      <li>
        <%= link_to "SURF", "/main/contact" %>
      </li>
    </ul>
  </div>
</nav>